.container-card {
  margin-top: 1rem;
  max-width: 800px;
  width: 800px
}


.h-64 {
  height: 16rem;
}

html {
  height: auto;
}

.event-detail .relative img:not(.memory-preview) {
  padding-top: 1rem;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  margin-bottom: -5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.event-detail-location {
  transition:
    transform 0.2s ease,
    font-weight 0.2s ease;
}

.event-detail-location:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.event-notification {
  height: auto ;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
todo not apply it to all div
 */

div::-webkit-scrollbar {
  display: none;
}

.faded-edges {
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  gap: 2%;
  flex-wrap: nowrap;
  min-height: 90px;
  width: 100%;
}

.faded-edges::before,
.faded-edges::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.faded-edges::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
  opacity: 1;
}

.faded-edges::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
  opacity: 1;
}

.responsive-padding {
  padding: 0 10%;
}

@media (max-width: 767px) {
  .responsive-padding {
    padding: 0 15%;
  }
}

.responsive-gap {
  gap: 4%;
}

@media (max-width: 767px) {
  .responsive-gap {
    gap: 9%;
  }
}


