.container {
  max-width: 800px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.avatar-small {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 4px;
}
.selection-item {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
}
